$f-outfit: Outfit, sans-serif;
$fw-thin: 100;
$fw-extralight: 200;
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;
$clr-white: hsl(0, 0%, 100%);
$clr-slate-300: hsl(212, 45%, 89%);
$clr-slate-500: hsl(216, 15%, 48%);
$clr-slate-900: hsl(218, 44%, 22%);
